<!DOCTYPE html>
<html lang="en">
  <head>
   <title>About Us
   </title>
   <link rel="icon" href="/static/images/logo.png" type="image/icon type">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/static/aboutus.css">
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap-icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light shadow-lg">
        <a class="navbar-brand" href="/AquaFaze">
          <img src="/static/images/logo.png" class="logo img-fluid" alt="">
          <span>
            AquaFaze
            <small>Stay Hydrated! Stay Motivated!!</small>
        </span>
        </a>
    </nav> 
        <div class="container">
        <div class="container0">
            <div class="row">
                <div class="col-lg-6 col-md-5 col-12">
                    <img src="/static/images/SUBHODEEP.jpg" class="about-image ms-lg-auto bg-light shadow-lg img-fluid" id="akash">
                </div>

                <div class="col-lg-5 col-md-7 col-12">
                    <div class="custom-text-block">
                        <h2 class="mb-0"><b>SUBHODEEP GHOSH</b></h2><style>h2{color:#63c9c0;}</style>

                        <span class="text-muted mb-lg-4 mb-md-4">Founder, Project Leader and ML Enthusiast</span> <style> span{position:relative; top: 5px;margin-left: 3px;}</style>

                        <p>Subhodeep is our backend devoloper and algorithm designer with predominantly working with machine learning models and API.He has a unique ability of understanding real world problems and finding ground breaking solutions.His technical expertise is only matched by his natural leadership skills as he has this ability to motivate everyone around him.He is adept at breaking down complex tasks into smaller,manageable,delegating responsibilities and ensuring that everyone on the team is performing at their best.In short he possesses a rare combination of technical,organizational and leadership skills</p>
                        <style>p{position: relative; top: 15px;}</style>
                        <a href="https://www.linkedin.com/in/subhodeep-ghosh-b321b8241/?originalSubdomain=in" class="me-4 link-secondary">
                            <i class="fab fa-linkedin"></i>
                        </a>
                            <a href="/error404" class="me-4 link-secondary">
                                <i class="fab fa-instagram"></i>
                            </a>
                                <a href="/error404" class="me-4 link-secondary">
                                    <i class="fab fa-github"></i>
                                  </a>
                                  <a href="/error404" class="me-4 link-secondary">
                                    <i class="fas fa-envelope me-3 text-secondary"></i>
                                  </a>
                    </div>
                </div>
            </div>
            </div>      
            <div class="container1">
                <div class="row">
                    <div class="col-lg-6 col-md-5 col-12">
                        <img src="/static/images/AKASH RANJAN MANDAL.jpg" class="about-image ms-lg-auto bg-light shadow-lg img-fluid" id="souvik">
                    </div>
    
                    <div class="col-lg-5 col-md-7 col-12">
                        <div class="custom-text-block">
                            <h2 class="mb-0"><b>AKASH RANJAN MANDAL</b></h2><style>h2{color:#63c9c0;}</style>
    
                            <span class="text-muted mb-lg-4 mb-md-4">Co-Founding Partner and Frontend Devoloper</span> <style> span{position:relative; top: 5px;margin-left: 3px;}</style>
    
                            <p>Akash's power comes from creating sophisticated and visually appealing websites. He turns complex interfaces into simple, soothing ones.   He always maintains etiquette & dignity and it reflects on his work. Punctual, determined and dedicated. That's akash for you. He is one of the most valued and beloved member of our team and one of the co-founding member. He is a real charmer in real life, inspiring and ensuring e everyone of a blooming environment with his aura. His technical expertise are sharpened regularly with state of the art technologies.</p>
                            <style>p{position: relative; top: 15px;}</style>
                            <a href="https://www.linkedin.com/in/akash-ranjan-mandal-95abbb215/" class="me-4 link-secondary">
                                <i class="fab fa-linkedin"></i>
                            </a>
                                <a href="/error404" class="me-4 link-secondary">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                    <a href="/error404" class="me-4 link-secondary">
                                        <i class="fab fa-github"></i>
                                      </a>
                                      <a href="/error404" class="me-4 link-secondary">
                                        <i class="fas fa-envelope me-3 text-secondary"></i>
                                      </a>
                        </div>
                    </div>
                </div>
                </div> 
            <div class="container2">
                <div class="row">
                    <div class="col-lg-6 col-md-5 col-12">
                        <img src="/static/images/SOUVIK GHOSH.jpg" class="about-image ms-lg-auto bg-light shadow-lg img-fluid" id="souvik">
                    </div>
                    <div class="col-lg-5 col-md-7 col-12">
                        <div class="custom-text-block">
                            <h2 class="mb-0"><b>SOUVIK GHOSH</b></h2><style>h2{color:#63c9c0;}</style>
    
                            <span class="text-muted mb-lg-4 mb-md-4">Co-Founding Partner and Connection Integrator</span> <style> span{position:relative; top: 5px;margin-left: 3px;}</style>
    
                            <p>Souvik is our connection integrator with skills outmatched by none. He is responsible for connecting the frontend with Backend and database ensuring everything runs smoothly  and in orderly fashion. He is also one of the most enthusiast and curious team member with always a keen eye on emerging technologies. His technical expertise along with his ability to work with anyone at any given environment is unimaginable. He loves taking feedback from seniors, peers and subordinates and turn them into beneficial criticism to ensure self-growth.</p>
                            <style>p{position: relative; top: 15px;}</style>
                            <a href="https://www.linkedin.com/in/souvik-ghosh-2335b7245/?originalSubdomain=in" class="me-4 link-secondary">
                                <i class="fab fa-linkedin"></i>
                            </a>
                                <a href="/error404" class="me-4 link-secondary">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                    <a href="/error404" class="me-4 link-secondary">
                                        <i class="fab fa-github"></i>
                                    </a>
                                    <a href="/error404" class="me-4 link-secondary">
                                        <i class="fas fa-envelope me-3 text-secondary"></i>
                                      </a>
                        </div>
                    </div>
                </div>
                </div> 
                <div class="container3">
                    <div class="row">
                        <div class="col-lg-6 col-md-5 col-12">
                            <img src="/static/images/poulami.jpg" class="about-image ms-lg-auto bg-light shadow-lg img-fluid" id="souvik">
                        </div>
        
                        <div class="col-lg-5 col-md-7 col-12">
                            <div class="custom-text-block">
                                <h2 class="mb-0"><b>POULAMI KAYAL</b></h2><style>h2{color:#63c9c0;}</style>
        
                                <span class="text-muted mb-lg-4 mb-md-4">Database Manager and Speaker</span> <style> span{position:relative; top: 5px;margin-left: 3px;}</style>
        
                                <p>Poulami is a valued member of our team not only because of her skills of managing tremendous amount of Datasets and organize them in manageable forms but because of her ability of taking calculated risks, ensuring healthy environment within the team and communicating with people outside the team. She has a sharp mind for analyzing data insights, handling big data, execution of data filling  and ensuring all the biasness are removed so that the algorithms can be tuned. She is reserved and likes to keep things to herself, only giving opinions where it's absolutely necessary. She also possesses a unique ability of managing tasks at micro level ensuring the workflow remain smooth and uninterrupted.</p>
                                <style>p{position: relative; top: 15px;}</style>
                                <a href="https://www.linkedin.com/in/poulami-kayal-2a8963207/?originalSubdomain=in" class="me-4 link-secondary">
                                    <i class="fab fa-linkedin"></i>
                                  </a>
                                  <a href="/error404" class="me-4 link-secondary">
                                    <i class="fab fa-instagram"></i>
                                  </a>
                                  <a href="/error404" class="me-4 link-secondary">
                                    <i class="fab fa-github"></i>
                                  </a>
                                  <a href="/error404" class="me-4 link-secondary">
                                    <i class="fas fa-envelope me-3 text-secondary"></i>
                                  </a>
                            </div>
                        </div>
                    </div>
                    </div>    
                        <div class="container4">
                            <div class="row">
                                <div class="col-lg-6 col-md-5 col-12">
                                    <img src="/static/images/ushamaam.jpg" class="about-image ms-lg-auto bg-light shadow-lg img-fluid" id="souvik">
                                </div>
                
                                <div class="col-lg-5 col-md-7 col-12">
                                    <div class="custom-text-block">
                                        <h2 class="mb-0"><b>USHA RANI GOGOI</b></h2><style>h2{color:#63c9c0;}</style>
                
                                        <span class="text-muted mb-lg-4 mb-md-4">Project Guide and Research Scholar</span> <style> span{position:relative; top: 5px;margin-left: 3px;}</style>
                
                                        <p>Dr. Gogoi has tremendous knowledge on the field of machine learning and contributed a lot to this field. Her expertise in computer vision, deep learning, digital image processing and many more are second to none. As our project guide, Dr. Gogoi has been instrumental in guiding us through the various stages of our project. She has provided us with invaluable insights and guidance, helping us to navigate complex problems and find solutions to challenging issues. Her depth of knowledge and experience in the field has been a tremendous asset to our team, and her willingness to share her knowledge with us has been invaluable.</p>
                                        <style>p{position: relative; top: 15px;}</style>
                                        <a href="https://www.linkedin.com/in/dr-usha-rani-gogoi-b2586b28/?originalSubdomain=in" class="me-4 link-secondary">
                                            <i class="fab fa-linkedin"></i>
                                          </a>
                                          <a href="/error404" class="me-4 link-secondary">
                                            <i class="fab fa-instagram"></i>
                                          </a>
                                          <a href="/error404" class="me-4 link-secondary">
                                            <i class="fab fa-github"></i>
                                          </a>
                                          <a href="/error404" class="me-4 link-secondary">
                                            <i class="fas fa-envelope me-3 text-secondary"></i>
                                          </a>
                                    </div>
                                </div>
                            </div>
                            </div>  
            </div>  
</script>
<script src="/static/jquery.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
<script src="/static/jquery.sticky.js"></script>
<script src="/static/click-scroll.js"></script>
<script src="/static/counter.js"></script>
<script src="/static/custom.js"></script>
<script src="/static/preloader.js"></script>
    </body>

</html>