<!DOCTYPE html>
<html lang="en">
<head>
   <title>Business</title>
   <link rel="icon" href="/static/images/logo.png" type="image/icon type">
  <link href="/static/business.css" rel="stylesheet">
  <link href="/static/bootstrap.min.css" rel="stylesheet">
  </head>
    <body>
      <div class="preloader"></div>
      <nav class="navbar navbar-expand-lg bg-light shadow-lg">
        <div class="container">
            <a class="navbar-brand" href="/AquaFaze">
              <img src="/static/images/logo.png" class="logo img-fluid" alt="">
              <span>
                AquaFaze
                <small>Stay Hydrated! Stay Motivated!!</small>
            </span>
            </a>
        </div>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item ms-3">
              <a class="nav-link custom-border-btn btn" href="#top">Home</a>
          </li>
              <li class="nav-item ms-3">
                <a class="nav-link custom-border-btn btn" href="#section_1">Shop</a>
            </li>
              <li class="nav-item ms-3">
                <a class="nav-link custom-border-btn btn" href="#section_2">Support</a>
            </li>
              <li class="nav-item ms-3">
                <a class="nav-link custom-border-btn btn" href="#section_3">Subscribe</a>
            </li>
          </ul>
      </div>
    </nav>
    <section class="landing-page">
      <div id="top"></div>
      <div class="top-image">
        <img src="/static/images/busi.webp">
      </div>
       <div class="top">
        <h3>Let's Have
            <div class="animated-info"><span class="animated-item">Business</span> <span class="animated-item">Recognition</span> <span class="animated-item">Future</span></div>
        <div class="para">
        <span>"Unlock the power of effective advertising while we simplify product launches!"<em> Right?</em></span>
            <p><b style="font-size: 18px;"><span>Are you scared that your product launch ideas will not be able to generate enough buzz for your new product?</span></b><br>Fear not! Generate buzz for your product with our launch expertise. Ensure a successful product launch with our strategic planning and creative ideas. Explore our packages to drive demand, visibility, and sales.</p>
        </div>
    </div>
    </section>
    <section class="pricing">
      <div id="section_1"></div>
    <div class="product">
    <div class="container1">
        <!-- Left Column / Headphones Image -->
        <div class="left-column">
          <img class="active" src="/static/images/coke.png" alt="">
        </div>
       <style>.left-column .active{
        position: relative;
        margin: 100px;
        height: 500px;        
        width:auto;
       }
        </style>
        <!-- Right Column -->
        <div class="right-column">
       
          <!-- Product Description -->
          <div class="product-description">
            <span>Water bottle</span>
            <h1><b>Coca-cola</b></h1>
            <p>With the world now purchasing everything online, we at Coca=cola have made sure we have adapted with the times and started our very own Coca@doorstep platform to buy all our products, including mineral water and natural Spring Water online.</p>
          </div>
       
          <!-- Product Configuration -->
          <div class="product-configuration">
            <div class="product-size">
              <span>Volumes</span>
              <div class="size">
                <div>
                  <input type="radio" value="180ml">
                  <label for="180ml"><em><b>180 </b>ml</em></label>
                </div>
                <div>
                  <input type="radio" value="375ml">
                  <label for="375ml"><em><b>375 </b>ml</em></label>
                </div>
                <div>
                  <input type="radio" value="750ml">
                  <label for="750ml"><em><b>750 </b>ml</em></label>
                </div>
              </div>
            </div>
            <!-- Cable Configuration -->
            <div class="cable-config">
              <span>Here's everything you know about</span>
       
              <div class="cable-choose">
                <button>Details</button>
                <button>Contact</button>
                <button>Report</button>
              </div>
       
              <a href="#">No rights reserved. Not-affiliated</a>
            </div>
          </div>
       
          <!-- Product Pricing -->
          <div class="product-price">
            <span>45 &#8377</span>
            <a href="#" class="cart-btn">Add to cart</a>
          </div>
        </div>
      </div>
      <div class="container1">
        <!-- Left Column / Headphones Image -->
        <div class="left-column">
          <img class="active" src="/static/images/aquafina.png" alt="">
        </div>
        <!-- Right Column -->
        <div class="right-column">
          <!-- Product Description -->
          <div class="product-description">
            <span>Water bottle</span>
            <h1><b>Aquafina</b></h1>
            <p>With the world now purchasing everything online, we at Bisleri have made sure we have adapted with the times and started our very own Aquafina@doorstep platform to buy all our products, including mineral water and natural Spring Water online.</p>
          </div>
          <!-- Product Configuration -->
          <div class="product-configuration">
            <!-- Product Color -->
            <div class="product-size">
              <span>Volumes</span>
              <div class="size">
                <div>
                  <input type="radio" value="180ml">
                  <label for="180ml"><em><b>180 </b>ml</em></label>
                </div>
                <div>
                  <input type="radio" value="375ml">
                  <label for="375ml"><em><b>375 </b>ml</em></label>
                </div>
                <div>
                  <input type="radio" value="750ml">
                  <label for="750ml"><em><b>750 </b>ml</em></label>
                </div>
              </div>
            </div>
            <!-- Cable Configuration -->
            <div class="cable-config">
              <span>Here's everything you know about</span>
              <div class="cable-choose">
                <button>Details</button>
                <button>Contact</button>
                <button>Report</button>
              </div>
              <a href="#">No rights reserved. Not-affiliated</a>
            </div>
          </div>
          <!-- Product Pricing -->
          <div class="product-price">
            <span>45 &#8377</span>
            <a href="#" class="cart-btn">Add to cart</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  
<section id="section_3">
  <div class="columns">
    <ul class="price">
      <li class="header">Basic</li>
      <li class>&#8377 4500 / year</li>
      <li>2 products</li>
      <li>4 reatils</li>
      <li>2 locations</li>
      <li>Monthly advertise</li>
      <li class="grey"><a href="#" class="button">Subscribe</a></li>
    </ul>
  </div>
  
  <div class="columns">
    <ul class="price">
      <li class="header" style="background-color:#5bc1ac">Pro</li>
      <li style>&#8377 11,500 / year</li>
      <li>8 products</li>
      <li>12 reatils</li>
      <li>all locations</li>
      <li>Daily advertise</li>
      <li class="grey"><a href="#" class="button1">Purchase</a></li>
    </ul>
  </div>
  
  <div class="columns">
    <ul class="price">
      <li class="header">Premium</li>
      <li>&#8377 8500/ year</li>
      <li>5 products</li>
      <li>8 reatils</li>
      <li>12 locations</li>
      <li>Weekly advertise</li>
      <li class="grey"><a href="#" class="button">Subscribe</a></li>
    </ul>
  </div>
</section>
  <section class="cta-section section-padding section-bg" id="section_2">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-5 col-12 ms-auto">
                <h2 class="mb-0" style="margin-top: 10%;"><b>We're here for you <br> 24x7</b></h2>
            </div>
            <div class="col-lg-5 col-12">
                <a href="" class="btn">Get a Ticket</a>
                <h4>"For any inconvenience feel free to report to us via ticket"</h4>
            </div>
        </div>
    </div>
</section>
            </section>
            <script src="/static/jquery.min.js"></script>
            <script src="/static/bootstrap.min.js"></script>
            <script src="/static/jquery.sticky.js"></script>
            <script src="/static/click-scroll.js"></script>
            <script src="/static/counter.js"></script>
            <script src="/static/custom.js"></script>
            <script src="/static/preloader.js"></script>
    </body>
</html>